### Conexion con el frontend
FRONTEND_PATH=https://gobiernoabierto.loberia.gob.ar
### Puerto donde atiende el backend
PORT=3000
### Configuracion de Postgres
STORAGE_PATH=<ruta alojamiento archivos>
USER_POSTGRES=<usuario postgres>
PASSWORD_POSTGRES=<contraseña postgres segura>
DATABASE_POSTGRES=gobierno-abierto-db
PORT_EXTERNAL_POSTGRES=5432
PORT_INTERNAL_POSTGRES=5432
PATH_POSTGRES=<ruta_alojamiento volumen postgres>
### Configuracion de Nest
HOST_DB=postgres
PORT_EXTERNAL_DB=3000
PORT_INTERNAL_DB=3000
### Configuracion de PgAdmin
PORT_EXTERNAL_PGADMIN=8080
PORT_INTERNAL_PGADMIN=80
EMAIL_PGADMIN=<email pgadmin>
PASSWORD_PGADMIN=<contraseña pgadmin segura>
PATH_PGADMIN=<ruta_alojamiento volumen pgadmin>
### Clave secreta jwt
SECRET_KEY_JWT=<clave segura>
### Configuración para el envío de emails
SMTP_HOST=<host>
# Usar 587 para TLS (secure=false) o 465 para SSL (secure=true)
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=<usuario>
SMTP_PASS=<contraseña segura>

# Dirección que recibirá los mensajes del formulario de contacto
RECEIVER_EMAIL=<email receptor>