### Conexion con el frontend
PORT=3000
FRONTEND_PATH=url_pagina_frontend
### Configuracion de Postgres
STORAGE_PATH=ruta_alojamiento_archivos
USER_POSTGRES=usuario_postgres
PASSWORD_POSTGRES=contraseña_postgres_segura
DATABASE_POSTGRES='gobierno-abierto-db'
PORT_EXTERNAL_POSTGRES=5432
PORT_INTERNAL_POSTGRES=5432
PATH_POSTGRES=ruta_alojamiento_volumen_postgres
### Configuracion de Nest
HOST_DB='postgres'
PORT_EXTERNAL_DB=3000
PORT_INTERNAL_DB=3000
### Configuracion de PgAdmin
PORT_EXTERNAL_PGADMIN=8080
PORT_INTERNAL_PGADMIN=80
EMAIL_PGADMIN=email_pgadmin
PASSWORD_PGADMIN=contraseña_pgadmin_segura
PATH_PGADMIN=ruta_alojamiento_volumen_pgadmin
### Clave secreta jwt
SECRET_KEY_JWT=clave_segura